ul {
  flex-direction: column;
  background-color: #222224;
  position: fixed;
  border-radius: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  display: flex;
  gap: 0.5em;
  width: 100%;
  height: 100%;
  padding: 0.8em;
  z-index: 2;
  top: 62px;
  left: 0;
  opacity: 0.99;
}

li {
  height: 55px;
}

li a {
  display: block;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
  color: #dbdbd9;
  border-radius: 5px;
  padding: 1em;
}

li a:hover,
li a:focus {
  background-color: #d7d6d5;
  color: #000000;
}
